*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    }
    
    
    .top-section{
        display: flex;
        margin-top: 100px;
        justify-content: space-between;
        align-items: flex-end;
    
    }
    .top-section,h1{
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .top-section,h4{
        text-align: end;
        font-size: 30px;
        
    }
    
    
    
    .contener{
    
        background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    min-height: 100vb;
    border: 10px white solid;
        
    }
    .contenent{
        max-width: 900px;
        margin: 0 auto;
        
    
    }
    .img,img{
        height: 300px;
        width:250px ;
    }
    .img{
        border-radius: 50%;
        overflow: hidden;
        margin-left: 150px;
    }
    .lust-section h3{
        font-size: 40px;
        margin-top:20px ;
        font-weight: 500;
    }
    .lust-section ul{
        font-size: 20px;
        margin-top: 20px;
        line-height: 25px;
        letter-spacing: 1.2px;
        
    
        
    }
    button{

        background-color: aqua;
        border: 1px solid;
        padding:5px;
        margin: 10px;
        border-radius: 10%;
        text-transform: uppercase;
        text-align: justify;
        font-weight:600;
        transition: 0.4s ease-in;
    
    
    }
    button:hover{
        background-color: #747e53;
        color:red;
        border: solid #c1c1c1 2px;
        transition: 0.4s ease-out;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(181, 18, 18, 0.5), 0 17px 50px 0 rgba(172, 17, 17, 0.5);
    }
    a {
        text-decoration: none;
     }
     footer{
        margin: 50px 0;
    }
    footer p{
        text-align: end;
        text-transform: uppercase;
    }